
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "详情阅读";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>详情阅读</title>
    <link rel="stylesheet" href="~/Content/book-detail.css">
    <link rel="stylesheet" href="~/Content/bootstrap.rtl.min.css">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="header-detail">
        <div class="header-left">
            <img src="~/Content/img/index/logo.jpg" alt="">长池小说网
        </div>
        @* 头部导航条 *@
        <div class="header-center">
            <a href="/Book/Index">首页</a>
            <a href="/Library/Index">书库</a>
            <a href="/Rank/Index">排行榜</a>
            <a onclick="authorclic()">作家专区</a>
            <a onclick="favbook()">我的书架</a>
        </div>
        @* 右侧部分 *@
        <div class="muye-header-search">
            <input id="sename" placeholder="请输入书名或作者名" value="">
            <a id="asearch" href="javascript:void(0)" onclick="seabook()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </a>
        </div>
        @{
            var username = HttpUtility.UrlDecode(HttpContext.Current.Request.Cookies["username"]?.Value);
            var userphoto = HttpContext.Current.Request.Cookies["userphoto"]?.Value;
            var xx = HttpContext.Current.Request.Cookies["xx"]?.Value;
        }
        @if (username == null)
        {
            <div class="user-content">
                <button type="button" id="big-login" class="btn" data-bs-toggle="modal" data-bs-target="#verticallyCentered">
                    登录/注册
                </button>
            </div>
        }
        else
        {
            <div id="sunav" class="navv">
                <ul>
                    <li class="sunav">
                        <div class="user-content1">
                            <img src="/Content/img/author/@userphoto" id="header-portrait" alt="">
                            <p id="user-name">@username</p>
                            <svg style="margin-top:5px" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </div>
                        <span style="margin-left:0px">
                            <ul>
                                <li>
                                    <a href="/Book/ExitLogin">
                                        <img src="~/Content/img/manager/triangle.png" alt="" style="height: 15px;">
                                        退出登录
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>
        }
    </div>
    <div class="muye">
        <div class="page">
            <!-- 头部布局 -->
            <div class="page-warp">
                <div class="page-header">
                    <div class="tiaozhuan">
                        <div class="route-trackers">
                            <a href="/Book/Index">首页</a>/
                            <a href="" style="color: rgba(0,0,0,.4)">@ViewBag.book.Title</a>
                        </div>
                        <div style="width: 50px;"></div>
                    </div>

                    <div class="page-header-info">
                        <div class="book-img">
                            <img src="~/Content/img/bookcover/@ViewBag.book.Photo" alt="">
                        </div>
                        <div class="info">
                            <div class="info-name"><h1>@ViewBag.book.Title</h1></div>
                            <div class="info-label">
                                <span class="info-label-yellow">@(ViewBag.book.Progress==1? "连载中" : "已完结")</span>
                                <span class="info-label-grey">@ViewBag.cname</span>
                            </div>
                            <div class="info-count">
                                <div class="info-count-word">
                                    <span class="detail">@Math.Round(@ViewBag.book.NSize / 10000, 2).ToString()</span>
                                    <span class="text">万字</span>
                                </div>
                                <div class="info-count-read">
                                    <span class="suxian">|</span>
                                    <span class="text">@ViewBag.book.ReadCount 人在读</span>
                                </div>
                            </div>
                            <div class="info-last">
                                <a href="/Read/Index?rid=@ViewBag.book.NovelID" class="chapter-item-title" target="_blank">
                                    <span class="info-last-title">最近更新：@ViewBag.ncharpt.Title </span>
                                </a>
                                <span class="info-last-time">@ViewBag.ncharpt.PushTime</span>
                            </div>
                            <button class="info-btn">
                                <a href="/Read/Index?rid=@ViewBag.book.NovelID&&cid=1" target="_blank">开始阅读</a>
                            </button>
                        </div>
                        <div class="author">
                            <div class="author-divider"></div>
                            <div class="author-info">
                                <img class="author-img" src="~/Content/img/author/@ViewBag.author.Photo" alt="开局地摊卖大力作者弈青锋">
                                <a href="/AuthorDetail/Index/?uid=@ViewBag.author.UserID">
                                    <div class="author-name">
                                        <span class="author-name-logo"><img src="~/Content/img/detail/zuozhe.png" alt=""></span>
                                        <span class="author-name-text">@ViewBag.author.UserName</span>
                                    </div>
                                </a>
                                <div class="author-desc">
                                    优质原创网络小说作家,完本作品
                                    @if (ViewData["finish"] != null)
                                    {

                                        foreach (var item in ViewData["finish"] as List<Book.Models.Novel>)
                                        {
                                            @item.Title;
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 章节内容布局 -->
            <div class="page-body-warp">
                <div class="page-body">
                    <!-- 作品简介 -->
                    <div class="page-abstract-header">
                        <h2>作品简介</h2>
                    </div>
                    <!-- 作品文字介绍 -->
                    <div class="page-abstract-content">
                        <p>@ViewBag.book.Content</p>
                    </div>
                    <!-- 章节.目录 -->
                    <div class="page-directory-header">
                        <h3>
                            <span>目录</span>
                            <span class="directory-dot"></span>@ViewBag.count 章
                        </h3>
                    </div>
                    <!-- 章节部署 -->
                    <div class="page-directory-content">
                        <div>
                            <div class="volume volume_first">
                                第一卷：默认
                                <span class="volume-dot"></span>共 @ViewBag.count 章
                            </div>

                            <div class="chapter">
                                @foreach (var item in ViewData["Charpt"] as List<Book.Models.Charpt>)
                                {
                                    <div class="chapter-item">
                                        <a href="/Read/Index?rid=@ViewBag.book.NovelID&&cid=@item.Sort" class="chapter-item-title" target="_blank">第<span>@item.Sort</span><span>章</span> @item.Title</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* 底部 *@
            <div class="footear">
                <div class="muye-footer-ctn">
                    <div class="muye-footer-left">
                        <img class="muye-footer-left-logo" src="~/Content/img/index/logo.jpg">
                        <span class="muye-footer-left-text">长池小说网</span>
                        <div class="muye-footer-left-divide"></div>
                        <p>
                            © 2022 重庆加多吉文化有限公司<br>
                            <a href="" rel="noopener noreferrer nofollow">渝ICP备2022010457号</a>|
                            <a href="" rel="noopener noreferrer nofollow">
                                <span class="police"></span>渝ICP备2022010457号
                            </a>|&nbsp;渝ICP备2022010457号&nbsp;|<br>网络文化经营许可证：渝ICP备2022010457号<br>请使用者仔细阅读
                            <a href="">《长池小说网用户协议》</a>、
                            <a href="">《长池小说网隐私政策》</a>说明<br>广告投放：
                            <a href="" rel="noopener noreferrer nofollow">www.wanglaoji.com</a>&nbsp;&nbsp;&nbsp;&nbsp;不良信息举报：1227244076@qq.com<br>意见建议邮箱：1227244076@qq.com&nbsp;&nbsp;&nbsp;&nbsp;版权咨询：1227244076@qq.com
                        </p>
                    </div>
                    <div class="muye-footer-right">
                        <div class="muye-footer-right-tiktok">
                            <img src="~/Content/img/index/tikok.jpg">
                            <div class="muye-footer-right-tiktok-desc">
                                <span class="muye-footer-right-tiktok-desc-img"></span>
                                <span class="muye-footer-right-tiktok-desc-text">打开抖音扫码关注官方账号</span>
                            </div>
                        </div>
                        <div class="muye-footer-right-wechat">
                            <img src="~/Content/img/index/gzh.jpg">
                            <div class="muye-footer-right-wechat-desc">
                                <span class="muye-footer-right-wechat-desc-img"></span>
                                <span class="muye-footer-right-wechat-desc-text">扫码关注微信公众号</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

@* 搜索 *@
<script>
    function seabook() {
        var sername = $("#sename").val();
        if (sername != "") {
            var a = document.getElementById("asearch");
            a.href = "/Search/?sername=" + sername;
        }

    }
</script>
@* 作家专区以及我的书架 *@
<script>

    //作家专区
    function authorclic() {
        var username = "@username";
        var xx = "@xx";
        if (username) {
            if (xx) {
                window.location = "/Percrea/Index";
            }
            else {
                window.location = "/Author/Index";
            }
        }
        else {
            $("#big-login").click();
        }
    }
    //我的书架
    function favbook()
    {
        var username = "@username";
        if (username)
        {
            window.location = "/Favorite/Index";
        }
        else
        {
            $("#big-login").click();
        }
    }
</script>
</html>
